<!DOCTYPE html>
<html>
<head>
  <title>GradeTorrent</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= render 'layouts/cdn' %>
</head>

<body>
<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<%= render 'layouts/nav' %>

<div class="float-lg-right px-3">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>. <br>
    User Privilege level: <strong><%= current_user.type %></strong> <br>
<% end %>
</div>
<div class="container p-5">
  <%= yield %>
</div>
<%= render 'layouts/footer' %>
<div class="row">
  <div class="mx-auto">
  <%= debug(params) if Rails.env.development?%>
  </div>
</div>

</body>
</html>
